 .div-profileBG {
    background-color: #fff;
    display: flex;
    max-width: 480px;
    width: 100%;

    flex-direction: column;
    font-size: 16px;
    color: #000;
    font-weight: 400;


  }

  .div-pro {
    display: flex;
    max-width: 480px;
    flex-direction: column;
  }
  .div-pro2 {
    background-color: #edecf4;
    display: flex;
    width: 100%;
    align-items: start;
    gap: 20px;
    padding: 68px 19px;
  }
  .div-pro3 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .img-arrow {
    aspect-ratio: 1.22;
    object-fit: auto;
    object-position: center;
    width: 22px;
    stroke-width: 2px;
    position: left;
    stroke: #432c81;
    border-color: rgba(67, 44, 129, 1);
    border-style: solid;
    border-width: 2px;
  }
  .div-pro4 {
    align-self: center;
    color: #432c81;
    position: relative;
    flex-grow: 1;
    flex-basis: auto;
    position:center;
    
    font: 700 20px Inter, sans-serif;
  }
  .div-pro5 {
    display: flex;
    flex-direction: column;
    fill: #432c81;
    stroke-width: 5px;
    stroke: #432c81;
    overflow: hidden;
    border-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 5px;
    align-self: center;
    position: relative;
    z-index: 10;
    display: flex;
    aspect-ratio: 1;
    margin-top: -71px;
    width: 152px;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    padding: 23px;
  }
  .img-background2 {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .img-profile {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 100%;
  }

  .img {
    aspect-ratio: 1.52;
    object-fit: auto;
    object-position: center;
    width: 100%;
  }
  .div-profile {
    display: flex;
    width: 100%;
    flex-direction: column;
   
  }
  .div-profile_pic {
    text-decoration:underline;
    cursor:pointer;
    color: #432c81;
    text-align: center;
    align-self: center;
    font: 600 15px Inter, sans-serif;

  }
  .div-username {
    font-family: Inter, sans-serif;
    margin-top: 25px;
    
  }
  .username_input {
    border-radius: 8px;
    border-color: rgba(67, 44, 129, 1);
    border-style: solid;
    border-width: 1px;
    background-color: rgba(196, 196, 196, 0);
    margin-top: 14px;
    width:400px;
    height: 40px;
    padding-left: 15px;
    font-family: Inter, sans-serif;
    font-size: 500 25px;
    
  }
  .div-password {
    font-family: Inter, sans-serif;
    margin-top: 11px;
  }
  .password_input {
    border-radius: 8px;
    border-color: rgba(67, 44, 129, 1);
    border-style: solid;
    border-width: 1px;
    background-color: rgba(196, 196, 196, 0);
    margin-top: 14px;
    width:400px;
    height: 40px;
    padding-left: 15px;
    font-family: Inter, sans-serif;
    font-size: 500 25px;
  }
  .div-gender {
    font-family: Inter, sans-serif;

    margin-top: 13px;
  }
  .gender_input {
    border-radius: 8px;
    border-color: rgba(67, 44, 129, 1);
    border-style: solid;
    border-width: 1px;
    width:400px;
    padding-left: 15px;
    background-color: rgba(196, 196, 196, 0);
    margin-top: 14px;
    height: 40px;
    font-family: Inter, sans-serif;
    font-size: 500 25px;
  }
  .div-age {
    font-family: Inter, sans-serif;
    margin-top: 11px;
  }
  .age_input {
    border-radius: 8px;
    border-color: rgba(67, 44, 129, 1);
    border-style: solid;
    border-width: 1px;
    width:400px;
    padding-left: 15px;
    background-color: rgba(196, 196, 196, 0);
    margin-top: 11px;
    height: 40px;
    font-family: Inter, sans-serif;
    font-size: 500 25px;
  }
  .div-disease {
    font-family: Inter, sans-serif;
    margin-top: 11px;
  }
  .disease_input {
    border-radius: 8px;
    border-color: rgba(67, 44, 129, 1);
    border-style: solid;
    border-width: 1px;
    padding-left: 15px;
    background-color: rgba(196, 196, 196, 0);
    margin-top: 11px;
    width:400px;
    height: 40px;
    font-family: Inter, sans-serif;
    font-size: 400 15px;
  }
  .div-confirm {
    font-family: Microsoft JhengHei, -apple-system, Roboto, Helvetica,
      sans-serif;
    border-radius: 10px;
    display: block;
    background-color: #432c81;
    margin-top: 36px;
    width:290px;
    color: #fff;
    text-align: center;
    font-weight: 700 15px;
    justify-content: center;
    padding: 13px 60px;
    cursor:pointer;
  }