    .div {
    padding-bottom: 80px;
    align-items: center;
    background-color: #fff;
    display: flex;
    max-width: 480px;
    width: 100%;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
  }
  .img {
    aspect-ratio: 0.84;
    object-fit: auto;
    object-position: center;
    width: 100%;
    align-self: stretch;
  }
  .div-2 {
    color: #2b2b2b;
    margin-top: 50px;
    width: 308px;
    font: 900 36px Merriweather, sans-serif;
  }
  .div-3 {
    color: #c4c4c4;
    margin-top: 35px;
    font: 400 16px Inter, sans-serif;
  }
  .div-4 {
    justify-content: center;
    border-radius: 20px;
    background: linear-gradient(90deg, #48d0fe 0%, #10b9f1 100%);
    margin-top: 60px;
    color: #fff;
    padding: 12px 30px;
    font: 700 18px Inter, sans-serif;
  }